body{
    align-items: center; 
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main_form{
    background-color: rgba(128, 128, 128, 0.39);
    padding: 80px;
    color: white;
    border-radius: 12px;
}

#Welcome, #Welcome2{
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 35px;
    opacity: 0;

}

form{
    opacity: 0;
}

#Welcome{
    animation: fadein 2s;
    animation-fill-mode: forwards;
}

#Welcome2{
    animation: fadein 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
   
}

form{
    animation: fadein 2s;
    animation-delay:6s;
    animation-fill-mode: forwards;


}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#Welcome2{
    font-size: 20px;
}

input{
    padding: 5px;
    margin: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
}

label{
    padding: 10px;
    font-size: 20px;
    /* text-align: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-left: 10px; */
}

button{
        background-color: #08d;
        border-radius: 10px;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 15px;
        height: 50px;
        outline: 0;
        text-align: center;
        width: 100%;
}